<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{.Title}}</title>
</head>
<body>
<div class="container">
    <h1>{{.Title}}</h1>
    {{ range .Descriptions }}
        <p>{{.}}</p>
    {{end}}
    <form>
        {{ if .UseExistingCluster }}
            <div class="form-group" id="netconfig">
                <h2>Basic Network Setup</h2>
                <p>WinKube uses the UPnP protocol for locating
                    other nodes in your network by default, which relies on multicast being enabled in your local
                    network. If multicast is not supported you will have to explicitly propvider the
                    master IPs for your worker and monitor configurations.</p>
                <input type="checkbox" class="form-checkbox-input" id="net_multicast">
                <label for="net_multicast">*Multicast enabled</label>
                <div class="form-group" id="master_config">
                <p>WinKube, by default, advertizes its clusters using the UPnP protocol. If UPnP/multicast is not supported in your network
                    you must enter one of the master's IP, which is:
                    <ul>
                        <li>the corresponding physical host name/IP, if <b>NAT</b> based networking is used.</li>
                        <li>the corresponding bridged network name/IP, if <b>Bridge</b> based networking is used.</li>
                    </ul>
                    </p>
                    <label for="master_nodes">*Master Nodes</label>
                    <input type="text" class="form-control" id="master_nodes" aria-describedby="master_nodesHelp" placeholder="Enter your master node IPs">
                    <small id="master_nodesHelp" class="form-text text-muted">Multiple nodes can be added, separated by comma.</small>
                </div>
            </div>
            <div class="form-group" id="clusterconfig">
                <h2>Cluster Configuration</h2>
                <label for="existingCluster">Choose one of the existing clusters</label>
                <select class="form-control" id="existingCluster">
                    <option>Cluster 1</option>
                    <option>Cluster 2</option>
                </select>
                <button type="submit" class="btn btn-secondary" formaction="setup2_existing.html">Update Cluster List..</button>
            </div>
        {{else}}
            <div class="form-group" id="netconfig">
                <h2>Basic Network Setup</h2>
                <p>WinKube uses the UPnP protocol for locating
                    other nodes in your network by default, which relies on multicast being enabled in your local
                    network. If multicast is not supported you will have to explicitly propvider the
                    master IPs for your worker and monitor configurations.</p>
                <input type="checkbox" class="form-checkbox-input" id="net_multicast" checked="true">
                <label for="net_multicast">*Multicast enabled</label>
                <br/>
                <label for="upnp_port">*UPnP port (default 1900)</label>
                <input type="text" class="form-control" id="upnp_port" aria-describedby="upnpHelp" placeholder="Enter the UPnP communication port" value="1900">
                <br/>
                <label for="existingCluster">For your master node to be locatable on your network choose the target interface/IP your master
                    node should listen to select the IP/interface</label>
                <select class="form-control" id="existingCluster">
                    <option>127.0.0.1/loopback</option>
                    <option selected="true">192.168.1.4/eth0</option>
                    <option>8.13.22.14/eth1</option>
                    <option>10.17.2.11/docker0</option>
                </select>
            </div>
            <div class="form-group" id="clusterconfig">
                <h2>Cluster Configuration</h2>
                <p>WinKube can setup mmultiple virtual clusters on top of one physical network layer. So you must define a
                    unique ClusterID. You can also setup your own credentials to secure your cluster. If ommitted WinKube
                    generates default cluster credentials for you.</p>
                <label for="cluster_id">*Cluster ID</label>
                <input type="text" class="form-control" id="cluster_id" aria-describedby="clusterHelp" placeholder="Enter the unique cluster ID">
                <small id="clusterHelp" class="form-text text-muted">The ID can be any text but cannot be changed anymore later.</small>
                <br/>
                <label for="cluster_credentials">Cluster Credentials (optional)</label>
                <input type="password" class="form-control" id="cluster_credentials" aria-describedby="clusterCredentialsHelp" placeholder="Cluster credentials.">
                <small id="clusterCredentialsHelp" class="form-text text-muted">Cluster credentials can be ommitted. In this case new nodes can automatically join a cluster
                    without any firther constraints.</small>
                <br/>
                <label for="net_cidr">Pod Network CIDR</label>
                <input type="text" class="form-control" id="net_cidr" aria-describedby="cidrHelp" placeholder="Enter the cluster's network CIDR" value="172.16.0.0/16">
                <small id="cidrHelp" class="form-text text-muted">The network CIDR used for the pod overlay network of the cluster.</small>
                <br/>
                <label for="net_select">WinKube is able to run the Kubernetes Master/Worker nodes with different networking/VM deployment strategies. Choose the one matching for you:</label>
                <div class="form-group form-check" id="net_select">
                    <input type="radio" class="form-radio-input" id="net_select_bridged" checked="true">
                    <label class="form-check-label" for="net_select_bridged">VMs with network bridges running on their own bridge network (<b>default</b>)</label>
                    <small id="net_select_bridgedHelp" class="form-text text-muted">This option will create a bridged network interface using the IP range
                        specified below. If running in a company network this option may probably not be suitable for you.</small>
                    <div class="form-group form-check" id="bridged_ip_range">
                        <label for="net_cidr">Bridged network CIDR</label>
                        <input type="text" class="form-control" id="bridged_ip_range" aria-describedby="cidrHelp" placeholder="Enter your bridget network CIDR" value="192.168.10.0/24">
                    </div>
                    <br/>
                    <input type="radio" class="form-radio-input" id="net_select_nat">
                    <label class="form-check-label" for="net_select_nat">VMs using private NAT networking exposing all necessary ports on the host machine.</label>
                    <small id="net_select_bridgedHelp" class="form-text text-muted">Ensure the required host ports are unused (443 for master nodes, 10250,30000-32767 for worker nodes).</small>
                </div>
            </div>
        {{end}}
        <div class="form-group" id="nodeconfig">
            <h2>Node Configuration</h2>
            <p>By default WinKube manages the IP Pool automatically, but you also can define your own custom IP. Custom IPs must be
                match the IP Pool spec or being publicly accessible.</p>
            <label for="net_nodeip">Explicit Node IP</label>
            <input type="text" class="form-control" id="net_nodeip" aria-describedby="nodeHelp" placeholder="Explicitly configure the node's IP (optional)">
            <small id="nodeHelp" class="form-text text-muted">If unsure, leave this field empty.</small>
            <br/>
            <label for="masterselect">*Choose a Node Type:</label>
            <div class="form-group form-check" id="masterselect">
                <input type="radio" class="form-radio-input" id="nodetype_master" value="nodetype_master">
                <label class="form-check-label" for="exampleCheck1">Master</label><br/>
                <input type="radio" class="form-radio-input" id="nodetype_worker" value="nodetype_worker">
                <label class="form-check-label" for="exampleCheck1">Worker</label><br/>
                <input type="radio" class="form-radio-input" id="nodetype_monitor" value="nodetype_monitor">
                <label class="form-check-label" for="exampleCheck1">Monitor only</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" formaction="setup1.html">Back to step 1</button>
        <button type="submit" class="btn btn-primary" formaction="setup3.html">Continue to step 3</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>